# Node modules (should be covered by root)
# /node_modules

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache

# Miscellaneous
.sass-cache/
.connect.lock
/libpeerconnection.log
testem.log
/typings
